# Base URL API untuk production
VITE_API_BASE_URL=https://your-api-domain.example.com/api

# Target API yang dipakai Vite proxy saat development
VITE_API_PROXY_TARGET=https://URL-NGROK-BACKEND-AKTIF.ngrok-free.app
